/* Common container padding */
$common-padding: 2rem 1rem 0;

/* button variable */
$btn-primary-color: #1aa1e1;
$btn-primary-color-hover: #118dc6;

/* Different heading borders */
$heading-border-color: #ccc;
$heading-border-style: solid;
$heading-border-size: 0.1rem;