.weather-card {
	width: 100%;
	border: 0.1rem solid #ccc;
	border-radius: 0.5rem;

	@media(min-width: 520px) {
		& {
			width: 100%;
		}
	}
	@media(min-width: 720px) {
		& {
			width: 50%;
		}
	}
	@media(min-width: 900px) {
		& {
			width: 40%;
		}
	}

	h4, h5, h6 {
		margin-top: 0;
	}

	h4 {
		margin-bottom: 0;
		padding: 1rem;
		@include heading-border-bottom(0.8rem);
	}

	.weather-container {
		padding: 0 1rem 1rem;

		p:first-child {
			margin-top: 0;
			font-style: italic;
		}

		.img-crop {
			display: inline-block;
		    width: 1.9rem;
		    height: 2.3rem;
		    overflow: hidden;
		    position: relative;
		    top: 0.28rem;
		}
		img {
			width: 3.125rem;;
		    height: 3.125rem;;
		    position: absolute;
		    top: 0.1rem;
		    left: -0.55rem;
		}

		h5 {
			margin-bottom: 0.8rem;
		}

		ul {
			padding: 0;
			margin: 0;
			margin-bottom: 1rem;

			> li {
				list-style: none;
				padding: 0.5rem 0;

				&:first-child {
					padding-top: 0;
				}
				label {
					display: inline-block;
					width: 40%;
				}
			}
		}
	}
}